.social-media-link { 
  padding: 10px 10px 0px 0px !important;
}

.post-summary-separator {
  color: #009999;
  border-color: #009999;
  background-color: #009999;
}

#posts {
  padding-top: 100px;
}
