/* Layout */
body, html { 
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -50px;
  padding-bottom: 150px;
}

#push, #footer {
  height: 50px;
}


/* Navigation */
.navbar_option {
  margin-left: 20px;
}

.navbar-brand {
  font-size: 2em;
}

.social_media_link { 
  padding: 15px 10px 0px 0px !important;
  :hover { background-color: #ad1d28; }
}


/* Administration */
.admin_table {
  margin: 50px 0px;
  th, td { padding: 5px 10px; }
}


/* Message Bar */
#notice, #warning {
  background: yellow;
  margin: 1em 0;
  padding: 4px;
}

#notice.message, #warning.message {
  color: red;
  text-align: center;
}


/* Form Validation Errors */
.field_with_errors {
  display: inline;
}
