$teal_font_color: #009999;

#posts {
  padding-top: 100px;
}

.post_summary_date_tags {
  color: #ad1d28;  
}

.post_summary_title {
  font-size: 2.1em;
  font-weight: bold;
  margin: 10px 0px;
  font-family: 'Noto Serif', serif; 
}

.post_summary_body {
  font-size: 1.2em;
  font-family: 'Noto Serif', serif;
}

.post-summary-separator {
  color: $teal-font-color;
  border-color: $teal-font-color;
  background-color: $teal-font-color;
  margin: 40px 0px;
}

#post {
  padding-top: 100px;
  font-family: 'Noto Serif', serif;
  .date_tags {
    font-size: 1.3em;
    color: #ad1d28;
  }
  .title {
    font-size: 2.6em;
    font-weight: bold;
    margin: 0px 0px 40px;
    color: $teal-font-color;
  }
  .body {
    font-size: 1.3em;
    p { margin: 25px 0px; }
    pre { font-size: 0.65em; }
    h3 { 
      color: $teal-font-color;
      margin: 60px 0px 0px;
    }
    .highlight { margin: 20px 0px 40px; }
  }
}

#disqus_thread {
  padding-top: 100px;
}
