#posts {
  padding-top: 100px;
}

.post_summary_date_tags {
  color: #ad1d28;  
}

.post_summary_title {
  font-size: 3em;
  font-weight: bold;
  margin: 10px 0px;
  font-family: 'Noto Serif', serif; 
}

.post_summary_body {
  font-size: 1.2em;
  font-family: 'Noto Serif', serif;
}

.post-summary-separator {
  color: #009999;
  border-color: #009999;
  background-color: #009999;
  margin: 40px 0px;
}

#post {
  padding-top: 100px;
  font-family: 'Noto Serif', serif;
  .date_tags {
    font-size: 1.3em;
    color: #ad1d28;
  }
  .title {
    font-size: 3.5em;
    font-weight: bold;
    margin: 0px 0px 40px;
    color: #009999;
  }
  .body {
    font-size: 1.3em;
    p { margin: 25px 0px; }
    .highlight { margin: 50px 0px;  }
  }
}




