.resume_title {
  margin-top: 100px;
  color: #428BCA;
}

.panel-group {
  margin-top: 40px;
}

.panel-default {
  border-color: white;
}

.panel-default > .panel-heading {
  background-color: #99D6D6;
  border: 3px solid black;
  margin: 5px 0px;  
}

.panel-default > .panel-collapse {
  background-color: #EEF8F8;
}

.resume_category_title {
  font-size: 1.5em;
}

.resume_category_list {
  margin-bottom: 30px;
}

.resume_institution {
  font-style: italic;
  margin-bottom: 0px;
}
